<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css?v=3.6">
        <link rel="icon" href="/images/webp/meipulseras.webp" type="image/x-icon" />
        <title>Contacto OK</title>
    </head>
    <body>    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: 'Contacto OK',
                text: 'Su comentario fue enviado correctamente. Espere nuestra respuesta.',
                icon: 'success',
                confirmButtonText: 'Aceptar',
                showConfirmButton: true,
            }).then(function() {
                window.location = "/";
            });
        </script>
    </body>
</html>

