@font-face {
    font-family: Quicksand;
    src: url(Quicksand-VariableFont_wght.ttf);
}

body { margin: 0; padding: 0;}

.borrar, .pagar { text-align: right; padding-right: 5%;}

.productname, .productprice { text-align: left;}
.textprod {margin-bottom: 2%;}

.logaut { padding-right: 10px;}

.regionselect { display: none;}

.prodnamemobile { display: none;}

.foto { width: 280px; height: 280px;}

.fotoprod1 {
    border: 1px solid #303030; padding: 10px;
    width: 500px; height: 500px;
    float: left;
}

 .fotiprod { padding-left: 100px;}

.foto1 { position: relative; 
    width: 500px; 
    height: 500px;
    overflow: hidden;
}

.foto1__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
    transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.stock { 
    font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none;
    text-transform: uppercase; font-size: 1em; font-weight: thin; float: left; padding-left: 30px; padding-right: 30px;
    padding-top: 15px; margin-top: 5px; width: 50%;
    display: flex;
    
}

.stockCero { 
    font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none;
    text-transform: uppercase; font-size: 1em; font-weight: thin; float: left; padding-left: 30px; padding-right: 5%;
     width: 85%;
}

.prodname, .prodprice { display: flex;}
.prodcantidad { width: 12%;}

.pricestock { width: 60%;}

.prodnum { 
    font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none;
    text-transform: uppercase; font-size: 2em; font-weight: thin; float: left; padding-left: 30px; padding-right: 30px;
    padding-top: 15px; margin-top: 5px; width: 50%;
    display: flex;
    
}

.tablacompras {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.tdproductos {
    white-space: pre-line;
    padding-top: 0px;
    padding-bottom: 15px;
}

.marquee {
    width: 100%;
    line-height: 8px;
    background-color: #e4437e;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    font-family: Quicksand;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.dire { padding-left: 26px;}

.policies {
    width: 80%;
    display: inline-block;
    margin: 5% 10% 5% 10%;
}

.fotopagado {
    width: 45px; 
    height: 45px;
}

.swal2-popup {
    font-family: Quicksand;
    font-size: 0.9rem;
}

.swal2-confirm {
    background-color: #e4437e;
}

.pagar, .borrar {
    font-family: Quicksand;
    text-align: end;
}

.container {
    max-width: 88%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.total {
    font-family: Quicksand; 
    letter-spacing: .1rem; 
    color: #7b7d7b;
    text-align: right;
}

.totalpagado {
    font-family: Quicksand; 
    letter-spacing: .1rem; 
    color: #7b7d7b;
    text-align: center;
}

.h1 {
    text-align: center;
    font-family: Quicksand; 
    letter-spacing: .1rem; 
    color: #7b7d7b;
    font-size: 2rem;
    margin-bottom: 20px;
}

.forgotText {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    font-family: Quicksand; 
    letter-spacing: .1rem; 
    color: #7b7d7b;
    font-size: 0.7rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    font-family: Quicksand; 
    letter-spacing: .1rem; 
    color: #7b7d7b;
}

th {
    background-color: #e4437e;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

td {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;

}

tr:nth-child(even) td {
    background-color: #f3f3f3;
}

#table-container {
    margin-top: 20px;
}

.minplus {
    border: 1px solid #e4437e;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 3px 1px;
    color: white;
    background-color: #e4437e;
    
}

.agregar {
    height: 20px; width: auto; padding-left: 5px; margin-top: 3px; margin-bottom: 1px; float: right;
}

.carrito {
    width: 20px; height: 20px; float: left;
}


.carro:hover, .carrito:hover, .agregar:hover {
    filter: invert(51%) sepia(51%) saturate(6987%) hue-rotate(315deg) brightness(95%) contrast(87%);
}

.inputminplus {
    width: 45px;
    height: 20px;
}

.minplus:hover {
    color: #e4437e;
    background-color: white;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.commentbox {width: 400px; height: 100px; font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b;}


.prodtitle { 
    font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none;
    text-transform: uppercase; font-size: 2em; font-weight: bold; float: left; padding-left: 30px; padding-right: 30px;
    margin-top: 5px; width: 60%;
}

.cartbutton { 
font-family: Quicksand; letter-spacing: .1rem; text-decoration: none;
text-transform: uppercase; font-size: 1em; font-weight: thin; float: left; padding-left: 30px; padding-right: 30px;
margin-top: 5px; width: 60%;

}

.proddesc {
    font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none;
    font-size: 1em; font-weight: thin; padding-left: 30px; padding-right: 30px; padding-top: 60px;
    width: 50%;
    margin: 0;
    height: auto;
    text-align: left;
    overflow: hidden;
}

.btnqty {
    width: 180px;
}

.delete {
    text-align: center;
}

.vaciar {
    text-align: end;
    max-width: 80%;
    margin: auto;
}

.lblprice { display: inline-block; width: 100%; text-align: right   ;}
.lblenv, .error { font-size: 1.2em; font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; }
.lblform { font-size: .8em; font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; }
.lblprod { font-size: 1.0em; font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b; text-decoration: none; font-weight: thin;}
.lblprec { font-size: 1.0em; font-family: Quicksand; letter-spacing: .1rem; color: #e4437e;; text-decoration: none; }
.lblprod:hover { color: #e4437e; }
.lblinput { width: 30%; margin: auto; }
.inputlbl { width: 100%; text-align: left;} 
.inputforms { width: 100%;  }
.forminput { width: 100%;}
.formu {display: block; text-align: center;}

.intro {
    text-align: justify;
    text-justify: inter-word;
    width: 68%;
    margin: auto;
}

h4 {
    font-weight: 80;
}

.counter {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: .8em; 
    font-family: Quicksand;
    color: white;
    background-color: #e4437e;
    text-align: center;
    float: right;
}

/* .pe {
    border: 1px solid #e4437e;
    border-radius: 20px;
    padding: 9px 80px;
    margin: 4px 2px;
    color: white;
    background-color: #e4437e;
    
}

.pe:hover {
    color: #e4437e;
    background-color: white;
    transition-property: all;
    -webkit-transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
} */


.pe {
    border: 1px solid #e4437e;
    border-radius: 20px;
    padding: 9px 80px;
    margin: 4px 2px;
    color: white;
    background-color: #e4437e;
    transition: all .3s ease-out;
    cursor: pointer;
}

.pe:hover {
    color: #e4437e;
    background-color: white;
}

.pe:hover .agregar {
    color: #e4437e;
}

.pe:hover .carrito {
    filter: invert(41%) sepia(58%) saturate(3574%) hue-rotate(321deg) brightness(93%) contrast(92%);
}

.carro {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.cotiza {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .1rem;
    text-decoration: none;
    font-size: .9rem;
    color: white;
}

.forgotpass {
    font-family: Quicksand;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
    font-size: .7rem;
    color: #7b7d7b;
}

.forgotpass:hover {
    color: #e4437e;
}



.logomei {text-align: center; width: 300px; height: auto; }
.logo { text-align: center; 
    /* margin-left: 236px;  */
    /* margin-right: auto;  */
    width: 66%;
    padding-left: 17%;
    padding-right: 17%;
}

.divcenter { text-align: center;}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }

.grid-item { width: 280px; height: 360px; border: 1px solid #303030; padding: 10px;}

.welcome {font-family: Quicksand; font-weight: 400;  text-align: center; letter-spacing: .1rem; color: #303030; font-size: 2.0rem; }
.texto {font-family: Quicksand; text-align: center; letter-spacing: .1rem; color: #303030; font-size: 1.1rem;}
.foot {background-color: #e4437e; font-family: Quicksand; text-align: center; letter-spacing: .1rem; color: #ffffff; position: absolute; left: 0; right: 0; margin: auto; text-decoration: none;}
.anchor { color: #ffffff; text-decoration: none; }
/* .wsp { position: -webkit-sticky; position: sticky; bottom: 0; padding-right: 10px; text-align: right;} */
.wsplogo { width: 20px; height: auto; } 

.sigue {font-size: .9rem; width: auto; height: 35px; }
.logosredes {width: 35px; height: auto; text-decoration: none; }

.follow { height: 35px; float: center;}
.instalogo { height: 35px; filter: brightness(0) invert(1);}
.centro {width: 80%; height: 35px; padding-left: 10%; padding-right: 10%; display:inline-block;}

.relleno {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.relleno2 { width: 100%; height: 25px; }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(69, 68, 68, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    height: 80%;
    width: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: #bbb;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.navbar {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.icon { display: none; }

.navbar { display: block; }

.links {
    display: inline;
    float: left;
    padding-bottom: 0px;
}

.links2 {
    display: inline;
    float: right;
    padding: 15px;
}

.link3 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.link {
    text-decoration: none;
    color: #303030;
    padding: 15px;
}

.links, .translate, .pipe {
    display: inline-block;
    padding: 15px;
    color: #303030;
    font-family: Quicksand;
    font-size: 1.1rem; 
    letter-spacing: .1rem; 
    text-decoration: none;
}

.translate, .pipe {
    background-color: none;
    background: none;
    border: none;
}

.links:hover, .link:hover {
    color: rgb(15, 13, 13);
    background-color: rgba(69, 68, 68, 0.1);
}

.select { width: 100%; margin: auto;}

@media screen and (max-device-width: 480px) {
    /* div { border: 1px dotted green;} */
    .lblprod, .lblprec { font-size: .8em;}
    .commentbox {width: 90%; height: 200px; font-family: Quicksand; letter-spacing: .1rem; color: #7b7d7b;}
    .logomei { width: 200px; height: auto; padding-top: 30px;}
    .logo { display: block; width:60%; padding-left: 20%; padding-right: 20%;}
    .texto {font-family: Quicksand; text-align: center; letter-spacing: .1rem; color: #303030; font-size: .5rem;}
    /* .wsp { position: -webkit-sticky; position: sticky; bottom: 90px; float: right;} */
    .wsplogo { width: 15px; height: auto; } 
    .texto { font-size: .8em; }
    .modal-content { width: 80%; height: auto;}
    .relleno { width: 100%; height: 50px; }
    .relleno2 { width: 100%; height: 50px; }
    .foot {font-size: .8rem;}
    .welcome {font-size: 1rem;}

    .swal2-popup {
        font-size: x-small;
    }

    /* Menú sandwich mobile */
    /* .nav { overflow: hidden; position: relative; } */
    /* .nav #navbar { display: none; } */
    .links { float: left; }
    .links2 { float: right; padding-top: 20px; padding-left: 7px; padding-right: 7px; }
    .icon { display: block; position: absolute; left: 10px; top: 10px; color: #303030; width: 100%; height: auto;}
    /* .pipe {display: none;} */
    .sigue {margin-top: 7px;}
    /* .instalogo { width: 40px; } */
    .translate { font-size: .9rem; padding-top: 20px; padding-right: 0px; padding-left: 0px;}

    .grid-container {
        grid-template-columns: auto auto;
        gap: 10px;
      }
      
    .foto { width: 125px; height: 125px; display: inline-block;}
    .fotoprod1 { width: 310px; height: 310px; border: 1px solid #303030; padding: 5%; margin-left: 2.5%; margin-right: 2.5%; text-align: center; display: inline-block;}
    .foto1 { width: 310px; height: 310px;  text-align: center;}
    .prodtitle { font-size: 1.5em; padding-left: 0px; padding-top: 0px; width: 100%; float: none;}
    .prodname { display: none;}
    .prodnamemobile { display: inline-block; text-align: center; width: 90%; padding-left: 5%; padding-right: 5%;}
    .prodnum { padding-left: 10%; padding-right: 10%; padding-top: 5px; padding-bottom: 5px; width: 80%; margin: 0px; display: inline-block; text-align: center;}
    .prodprice { width: 100%; display: inline-block; }
    .pricestock { text-align: center; width: 100%; padding-top: 30px;}
    .stock { width: 70%; padding-left: 3%; padding-top: 40px; padding-bottom: 10px; margin-left: 0; float: left;}
    .stockCero {width: 70%; padding-left: 15%; padding-right: 15%; }
    .grid-item { width: 125px; height: 205px;}
    .cartbutton { text-align: center; width: 100%; padding-top: 20px; padding-left: 0%;}
    .fotiprod { width: 98%; padding-right: 1%; padding-left: 1%;}
    .proddesc { width: 80%; padding-left: 10%; padding-right: 10%;}
    .h1 { font-size: 1.5rem; width: 100%; margin-left: auto;}
    .lblenv { font-size: .9em; margin-left: 10px; }
    .total { font-size: .7rem; text-align: center;}
    .lblprice { padding-top: 20px; font-size: 1rem;}
    .radio { margin-left: 10px; }
    .datosenvio { display: inline-flex; }

    table { margin-left: 10px; margin-right: 10px;}

    td, th { font-size: .7rem; }
    .tablacompras {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .tdproductos {
        white-space: pre;    
    }

    .tablaproductos {
        white-space: pre;    
    }

    .container { width: 90%; padding-left: 5%; padding-right: 5%;}

    .borrar, .pagar { width: 80%; padding-right: 10%; padding-left: 10%;}

    .pagar { text-align: center;}
    .pipe { padding-left: 7px; padding-right: 7px;}

    .link3 {
        padding-top: 0px;
        padding-bottom: 0px;
       
    }
    .forminput { width: 96%; margin: auto;}
    .lblinput { padding-left: 5%; padding-right: 5%; width: 92%; margin: auto;}
    .h4 { font-size: .8rem;}

    .table-container {
        overflow-x: auto;
    }

    .totalpagado { width: 80%; padding-left: 10%; padding-right: 10%;}

    .forgotText {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 0.6rem;
        margin-bottom: 0px;
    }
    
}

@media screen and (max-device-width: 412px) AND (max-device-width: 375px) {
    .logo { width: 60%; padding-left: 20%; padding-right: 20%;}
    .table-container {
        overflow-x: auto;
    }
    .tdproductos {
        white-space: pre;    
    }

    .tablaproductos {
        white-space: pre;    
    }
}